[Unit]
Description=Gollum wiki server
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/gollum
ExecStart=/usr/local/bin/gollum --show-all --config /var/www/gollum/config.rb --bare  /home/davidg/gits/seminarynotes

Restart=on-abort

[Install]
WantedBy=multi-user.target
